* {background-color: cornsilk;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    color: darkmagenta;
}

h1 {
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 80px 29% 30px 30%;
}
.red {
    color: red;
}
#timer {
    text-align: center;
    color: grey;
    font-size: 15px;
}

#startbutton {
    background-color: darkmagenta;
    color: whitesmoke;
    padding: 10px;
    margin: 30px 30% 30px 45%;
}
.questionsContainer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    /* visibility: hidden; */
}
.answerscontainer {
    text-align: center;
}

.hide{
    display: none;
}




